.nav{
    display: flex;
    align-items: center;
    height: 72px;
    justify-content: space-between;
}
.logo{
    height: 24px;
    padding-left: 72px;
    cursor: pointer;
}
.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background-color: var(--background-color);
    border-radius: 21px;
    padding: 12px 68px 12px 14px;
    margin: auto;
}
.searchbar input{
    color: #5C5C5C;
    font-size: 14px;
    font-weight: 500;
    border: none;
    width: 242px;
    background: none;   
    outline: none;
}
.signin{
    padding-right: 72px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.signin p{
    color: var(--color-black);
    text-align: right;
    font-size: 16px;
    font-weight: 500;
}
.text_blue{
    color: var(--color-blue);
    font-weight: 700;
}
.login{
    display: flex;
    flex-direction: column; 
    gap: 12px;
    z-index: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    position: fixed;
}
.login_header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
    opacity: 0.6;
    background: #000;
    z-index: 100;
    overflow: hidden;
    position: fixed;
}
@media screen and (max-width:920px) {
    .searchbar{
        display: none;
    }
}
@media screen and (max-width:600px) {
    .logo{
        padding-left: 15px;
    }
    .signin{
        padding-right: 15px;
    }
}
@media screen and (max-width: 450px) {
    .signin p{
        display: none;
    }
    
}